<template name="firstsem">
    <div class=" container well well-lg">
        {{>headline}}

    <div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="../../extras/first.png">
                    <div class="caption">
                        <h1>Thumbnail label</h1>
                        <p>...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>